.social {
	display: flex;

	&__item {
		

	}

	&__item:not(:last-child) {
		margin-right: 24px;
	}

	&__footer {
		margin-bottom: 72px;
	}

	&__icon{
		width: 40px;
		height: 40px;

	}

	&__icon:hover{
		fill: $main-color;
	}

	@media screen and (min-width: $phone-width) and (max-width: $tablet-width){
		margin-top: 72px;;
	
		&__icon{
			width: 60px;
			height: 60px;
		}

	&__item:not(:last-child) {
		margin-right: 30px;
	}
}
}
